font-family: 'Lato',
sans-serif;
font-family: 'Anton',
sans-serif;
font-family: 'Exo 2',
sans-serif;

/*Paleta de colores
-------------
#042429
#094853
#F16C23

#F7FAFA
#99CCCC
#669999
#1D3457
#FFCCCC
#D55619

------------
*/

#main-nav {
  height: 12%;
}

.navbar .categorias {
  width: 100%;
  display: inline-flex;
  font-size: 16px;
  font-weight: 300;
  margin-top: 16%;
}

.navbar.navbar-custom {
  font-family: 'Exo 2', sans-serif;
  color: #F7FAFA !important;
  border-bottom: none;
  z-index: 100000;
  border-radius: 0;
  background-color: #1D3457;
}

a {
  color: #F7FAFA !important;
}

.navbar-nav > li {
  padding: 7px 5px 0px 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
}

html {
  background-color: #D3D3D3;
}

#main-header > div:nth-child(1):hover {
  box-shadow: inset 0 -124px 0px #D55619;
  -webkit-transition: all .250s ease;
  -moz-transition: all .250s ease;
  -ms-transition: all .250s ease;
  -o-transition: all .250s ease;
  transition: all .250s ease;
}

ul.categorias li.activado {
  box-shadow: inset 0 -124px 0px #D55619;
}

.titulo-t {
  color: #1D3457;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 2%;
}

#graficas_01 {
  background-color: transparent;
}

#tabla-gral > div.row.titulo-t,
.titulo h2 {
  font-weight: 700;
}

#nav-jugador > ul > li:hover {
  box-shadow: inset 0px 30px #F7FAFA;
  border-radius: 50%;
  height: 100%;
  -webkit-transition: all .250s ease;
  -moz-transition: all .250s ease;
  -ms-transition: all .250s ease;
  -o-transition: all .250s ease;
  transition: all .250s ease;
}

.imgs-jugador {
  height: auto;
  margin: 1em auto;
}

.img-equipo {
  height: auto;
  margin: 1em auto;
}

li a {
  -webkit-transition: all .150s ease;
  -moz-transition: all .150s ease;
  -ms-transition: all .150s ease;
  -o-transition: all .150s ease;
  transition: all .150s ease;
}

th {
  background-color: #D55619;
  color: #F7FAFA;
  text-transform: ;
  text-align: center !important;
}

table {
  font-family: '"Helvetica Neue", Helvetica, Arial, sans-serif', sans-serif !important;
  font-size: 18px;
  color: #1D3457;
  background-color: rgba(255, 255, 255, .5);
  border: none;
}

tr:hover td {
  background: rgba(213, 86, 25, .3) !important;
}

tr:nth-child(even) {
  background-color: #ADB5C2;
}

thead,
.cat {
  font-weight: 600 !important;
}

.grid {
  stroke: #1D3457;
  stroke-width: 2px;
  border-radius: 5px;
}

#left-nav a {
  background-color: #1D3457;
  color: #000;
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-doble li {
  font-size: 14px !important;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#gral-stats {
  width: 100%;
  height: inherit;
  background-color: rgba(29, 52, 87, .6);
}

.tabla-stats,
.tabla-gral {
  background: rgba(247, 250, 250, .6);
}

#secondary-table {}

html {
  height: 100%;
}

li {
  list-style: none;
  display: inline-block;
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  box-shadow: inset 0 -8px #D55619 !important;
  background: none !important;
}

#main-table {}


/*
/////////////////Media Queries//////////////////////
*/

@media (min-width: 768px) {
  #main-header {
    display: block;
    width: 100%;
    height: 90%;
  }
  #left-nav {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: fixed;
    z-index: -100;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    color: #f7fafa;
    background-color: rgba(51, 103, 153, .8);
    border-radius: 10px;
  }
  #nav-jugador > ul {
    margin: 1em;
    padding: 0;
  }
  .logo-league {
    margin-top: 4%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 4%;
  }
  .logo-denovoc {
    margin: 15% 15% 0 0;
  }
  .navbar-nav>li>a {
    padding: 0;
    display: inline-flex;
  }
  #nav-jugador {
    /*background: #063239;*/
  }
  #nav-partidos {
    border-radius: 10px !important;
  }
  #nav-partidos > ul > li {
    margin: 0;
    display: inline-flex;
  }
  #nav-jugador > ul > li {
    margin: 0 2% 0 2%;
  }
  img.img-responsive.img-centered {
    top: 50%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  #cuadro-info {
    margin: 5em 10em;
  }
  #info-jugador {
    margin: 20px auto 20px auto;
    border-bottom: 2px solid #F7fafa;
  }
  #info-jugador > p {
    text-align: center;
  }
  .resultados {
    padding-left: 2em;
    background-color: rgba(255, 255, 255, .4);
  }
  .btn-active {
    color: #FFF !important;
    background-color: #D55619 !important;
    opacity: 1 !important;
  }
  .btn-group {
    display: inline-flex !important;
  }
  .btn-custom-i {
    font-family: 'Exo 2', sans-serif !important;
    opacity: .3;
  }
  .btn-custom-i >p {
    font-size: 12px !important;
  }
  .btn-custom {
    font-family: 'Exo 2', sans-serif !important;
  }
  .btn-custom >p {
    font-size: 12px !important;
  }
  .btn-visualizar {
    margin-left: 110%;
    margin-top: -1em;
  }
  #controles {
    color: #F7FAFA;
    font-family: 'Exo 2', sans-serif !important;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  #custom-handleI,
  #custom-handleF {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #sliderWrapper {
    padding: 1.5em;
  }
  #acot {
    background-color: rgba(23, 48, 65, .8);
    height: 120px;
    margin: 5em 10em;
  }
  .navbar-brand {
    padding: 0px !important;
  }
  .navbar-header {
    float: inherit !important;
  }
  .categorias {
    display: inline;
    font-size: 2em;
  }
}

.text-acot {
  font-family: 'Exo 2', sans-serif !important;
  font-weight: 500;
  font-size: 18px;
}

.text-acot > p {
  font-family: 'Exo 2', sans-serif !important;
  font-weight: 500;
  font-size: 18px;
  color: #FFF;
  margin: 7px 0 0 0;
}

#info-partido {
  line-height: .5;
  margin: 1% 0;
}

.lineasP {
  stroke: #f7fafa;
  stroke-width: 3px;
  fill: none;
}

#lugar,
#fecha,
#goles-equipo-casa,
#goles-equipo-visita {
  font-family: 'Exo 2', sans-serif !important;
  font-size: 18px;
}

#izquierdaP {
  height: inherit;
}

#porcentajeC {
  text-align: center;
  font-family: 'Anton', sans-serif !important;
  font-weight: 500;
  margin: 0 auto;
  padding-left: 25px;
  height: 33%;
}

.row-C,
.row-V,
.row-E {
  height: 2em;
}

#porcentajesGP,
#distribucionNumGoles,
{
  margin: 1em 0 !important;
}

#pComp{
  text-align: center;
  font-family: 'Exo 2', sans-serif !important;
  font-size: 18px;
  height: 33%;
}

.textSlice {
  font-family: 'Exo 2', sans-serif !important;
}

#pCompV {
  text-align: center;
  font-family: 'Exo 2', sans-serif !important;
  font-size: 18px;
  margin: 0 auto;
  height: 33%;
}
.resultadoProb{
    
    font-size: x-large;
}

#porcentajeV,
#porcentajeResultado {
  text-align: center;
  font-family: 'Anton', sans-serif !important;
  font-weight: 500;
  fill:#1D3457;
  margin: 0 auto;
  height: 33%;
}

#golesF,
#golesC {
  text-align: center;
  font-family: 'Anton', sans-serif !important;
  font-weight: 500;
  font-size: 7em;
  margin: .1em 0;
  padding: 0;
}

#data-vis,
#graficas_01 {
  width: 100%;
  height: 30em;
}

#grafPorcentajes {
  width: 100%;
  height: 17.5em;
}

#grafCompa {
  width: 100%;
  height: 30em;
}

.lineasP {
  opacity: 0.1 !important;
}

#grafPorcentajes0,
#golesClub,
#golesVs {
  width: 100%;
  height: 20em;
}

#nombre-equipo-casa,
#nombre-equipo-visita,
#vs {
  font-family: 'Anton', sans-serif !important;
  font-weight: 500;
}


.yaxis {
  fill: #1D3457;
  stroke-width: 5px;
}

.yaxis text {
  display: none;
}

#goles-equipo-casa,
#goles-equipo-visita {
  line-height: 1.5;
}

#goles-equipo-casa {
  text-align: left;
}

#goles-equipo-visita {
  text-align: right;
}

#tit-info {
  background-color: #D55619 !important;
  color: #f7fafa;
}

#info-p {
  color: #094853;
  background-color: #f7fafa;
}

#sliderWrap {
  margin-top: 1.5em;
}

#graficas_01 {
  font-family: 'Exo 2', sans-serif !important;
}
#tit-info,
#info-p {
  margin: 0;
  line-height: 1.5;
  font-family: 'Exo 2', sans-serif !important;
  font-weight: 700;
}

#titulo-partido {
  background-color: rgba(23, 48, 65, .8);
  color: #FFF !important;
  border-radius: 10px;
}

#equipo-casa,
#equipo-visita {
  margin: 20% auto;
}

#nombre-equipo-casa {
  text-align: left;
}

#nombre-equipo-visita {
  text-align: right;
}

#col-ac0,
#col-ac1,
#col-ac2 {
  margin: 10px;
  width: 20px;
  height: 20px;
}

#col-ac0 {
  background-color: #C62828;
}

#col-ac1 {
  background-color: #FFE766;
}

#col-ac2 {
  background-color: #00CF36;
}


/*
/////////////////Estilos de D3//////////////////////
*/

#canvasGrafs {
  fill: #FFF;
}

circle.bars {
  fill: #D55619;
}

.bars {
  fill: #FFF;
  stroke: none;
  stroke-width: 1px;
}

rect.axis {
  stroke-width: 1;
  stroke-dasharray: 5, 5;
}

.axis path,
.axis line {
  fill: none;
  stroke: #1D3457;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

rect {
  stroke-width: 6px;
  stroke: #1D3457;
  fill: rgba(255, 255, 255, .4);
}

.axis text {
  color: #1D3457;
  font-family: sans-serif;
  font-size: 11px;
}

circle {
  stroke-width: 1;
}

body {
  background: transparent !important;
}
